<div *ngIf="llamarRes">
    <table class="table table-dark table-hover bg-dark text-center">
        <thead>
            <td class="col">Id de reservación</td>
            <td class="col">Id de usuario</td>
            <td class="col">Fecha de ingreso</td>
            <td class="col">Fecha de salida</td>
            <td class="col">Número de adultos</td>
            <td class="col">Número de niños</td>
            <td class="col">Número de cuartos</td>
            <td class="col">Status de la reservacion</td>
        </thead>
        <tbody>
            <!-- *ngFor="let reserv of res, let i = index" -->
            <tr class="text" *ngFor="let reserv of datosReservacion, let i = index">
                <td class="col">{{ reserv.idRes }}</td>
                <td class="col">{{ reserv.fecIn }}</td>
                <td class="col">{{ reserv.fecOut }}</td>
                <td class="col">{{ reserv.numA }}</td>
                <td class="col">{{ reserv.numN }}</td>
                <td class="col">{{ reserv.numC }}</td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="nota" class="text-center">
        <h3>No se tienen reservaciones</h3>
    </div>
</div>
