<div>
    <app-menu></app-menu>
</div>
<header>
    <div class="container mx-auto">
        <div class="title">
            <br><br><br>
            No te quedes sin una habitación <br><br>
            Aqui puedes realizar tu reservación <br> <br>
            <button routerLink="/login" class="btn btn-outline-light mt-3">Iniciari Sesion</button>
        </div>
        <div class="formulario">
            <div class="mx-auto">
                <div class="card">
                    <div class="card-header">
                        Reservacion
                    </div>
                    <div class="card-body text-center">
                        <form [formGroup]="nuevoRegistro" (ngSubmit)="agregarRegistro()">
                            <div class="row g-5">
                                <div class="col-md">
                                    <div class="form-floating mb-3">
                                        <input type="date" onkeydown="return false" formControlName="fecIn" class="form-control" placeholder="Dia de entrada" id="floatingDiaE"> <!--bsDatepicker [bsConfig]="{dateInputForm}"-->
                                        <label for="floatingDiaE">Dia de entrada</label>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <div class="form-floating">
                                        <input type="date" onkeydown="return false" formControlName="fecOut" class="form-control" placeholder="Dia de salida" id="floatingDiaS"> <!--bsDatepicker-->
                                        <label for="floatingDiaS">Dia de salida</label>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <div class="form-floating mb-3">
                                        <input type="number" onkeydown="return false" formControlName="NumA" onkeydown="" value="1" class="form-control" id="floatingAdulto" placeholder="1" min="1" max="20">
                                        <label for="floatingAdulto">Adultos</label>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <div class="form-floating">
                                        <input type="number" onkeydown="return false" formControlName="NumN" value="0" class="form-control" id="floatingNino" placeholder="0" min="0" max="20">
                                        <label for="floatingNino">Niños</label>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <div class="form-floating mb-3">
                                        <input type="number" onkeydown="return false" formControlName="NumC" value="1" class="form-control" id="floatingCuarto" placeholder="1" min="1" max="15">
                                        <label for="floatingCuarto">Cuartos</label>
                                    </div>
                                </div>
                            </div>
                            <button class="boton btn mt-3" type="submit">Reservar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<main>
    <!-- HABITACIONES -->
    <div class="row text-white py-5" id="row-habitaciones">
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <h1 class="font-weight-bold">Habitaciones</h1>
                    <h4>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​.</h4>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col">
                    <img src="assets/Imagenes/Cuarto1.jpg" alt="Cuarto 1">
                    <h3 class="font-weight-bold mt-4">Cuarto 1</h3>
                    <p>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​.</p>
                </div>
                <div class="col">
                    <img src="assets/Imagenes/Cuarto2.jpg" alt="Cuarto 2">
                    <h3 class="font-weight-bold mt-4">Cuarto 2</h3>
                    <p>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​.</p>
                </div>
                <div class="col">
                    <img src="assets/Imagenes/Cuarto3.jpg" alt="Cuarto 3">
                    <h3 class="font-weight-bold mt-4">Cuarto 3</h3>
                    <p>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- DATOS DEL LUGAR -->
    <div class="row text-white mx-auto py-5 text-center" id="row-lugar">
        <div class="container">
            <!-- PLAYA -->
            <div class="row">
                <div class="col">
                    <img src="assets/Imagenes/playa.jpg" alt="Montaña Acapulco">
                </div>
                <div class="col">
                    <div>
                        <h1 class="font-weight-bold">Una de las playas más bonitas de México</h1>
                        <p>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium. Qui animated corpse.</p>
                    </div>
                </div>
            </div>
            <!-- MONTAÑAS -->
            <div class="row">
                <div class="col">
                    <div>
                        <h1 class="font-weight-bold">Una verdadera belleza de México</h1>
                        <p>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium. Qui animated corpse.</p>
                    </div>
                </div>
                <div class="col">
                    <img src="assets/Imagenes/Montana.jpg" alt="Montaña Acapulco">
                </div>
            </div>
        </div>
    </div>

    <!-- CONTACTO DIRECTO POR MENSAJE-->
    <div class="row mx-auto" id="row-contacto">
        <div class="container text-center">
            <div class="col-md-6 mx-auto pt-4 pb-4">
                <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                <h1>Contactanos</h1>
                <h3>Cualquier duda o aclaración no duden en contactarnos, estamos para servirte</h3>
                <div class="input-group">
                    <input type="text" class="form-control" name="" id="email" placeholder="Email.">
                    <button class="boton btn">Enviar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- REDES SOCIALES Y FORMA DE CONTACTO -->
    <footer class="mx-auto">
        <div class="row mx-auto" id="row-redes">
            <section class="contact-section pt-5">
                <div class="container px-4 px-lg-5">
                    <div class="row gx-4 gx-lg-5">
                        <div class="col-md-4 mb-3 mb-md-0">
                            <div class="card py-4 h-100">
                                <div class="card-body text-center">
                                    <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                                    <h4 class="text-uppercase m-0">Dirección</h4>
                                    <hr class="my-4 mx-auto" />
                                    <div class="small text-black-50">Playa de Acapulco #3019</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3 mb-md-0">
                            <div class="card py-4 h-100">
                                <div class="card-body text-center">
                                    <i class="fas fa-envelope text-primary mb-2"></i>
                                    <h4 class="text-uppercase m-0">Email</h4>
                                    <hr class="my-4 mx-auto" />
                                    <div class="small text-black-50"><a href="#!">joaquin@ygmail.com</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3 mb-md-0">
                            <div class="card py-4 h-100">
                                <div class="card-body text-center">
                                    <i class="fas fa-mobile-alt text-primary mb-2"></i>
                                    <h4 class="text-uppercase m-0">Teléfono</h4>
                                    <hr class="my-4 mx-auto" />
                                    <div class="small text-black-50">+1 (555) 902-8832</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="social d-flex pt-3 pb-3 justify-content-center">
                        <a class="mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                        <a class="mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                        <a class="mx-2" href="#!"><i class="fab fa-github"></i></a>
                    </div>
                </div>
                <!-- INGRESAR COMO TRABAJADOR -->
                <div class="d-flex pt-3 pb-3 justify-content-center py-2">
                    <button class="empleados btn btn-outline-success " routerLink="/acceso-empleado">Ingresar como empleado</button>
                </div>
            </section>
        </div>
    </footer>
</main>
