<div *ngIf="llamarNewRes">
    <h2>Nueva reservación</h2>
    <form [formGroup]="nuevoRegistro" (ngSubmit)="agregarRegistro()">
        <div class="row g-5">
            <div class="col-md">
                <!-- DIA DE ENTRADA -->
                <div class="form-floating mb-3">
                    <input type="date" onkeydown="return false" formControlName="fecIn" class="form-control" placeholder="Dia de entrada" id="floatingDiaE"> <!--bsDatepicker [bsConfig]="{dateInputForm}"-->
                    <label for="floatingDiaE">Dia de entrada</label>
                </div>
            </div>
            <!-- DIA DE SALIDA -->
            <div class="col-md">
                <div class="form-floating">
                    <input type="date" onkeydown="return false" formControlName="fecOut" class="form-control" placeholder="Dia de salida" id="floatingDiaS"> <!--bsDatepicker-->
                    <label for="floatingDiaS">Dia de salida</label>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- NÚMERO DE ADULTOS -->
            <div class="col-md">
                <div class="form-floating mb-3">
                    <input type="number" onkeydown="return false" formControlName="NumA" onkeydown="" value="1" class="form-control" id="floatingAdulto" placeholder="1" min="1" max="20">
                    <label for="floatingAdulto">Adultos</label>
                </div>
            </div>
            <!-- NÚMEROS DE NIÑOS -->
            <div class="col-md">
                <div class="form-floating">
                    <input type="number" onkeydown="return false" formControlName="NumN" value="0" class="form-control" id="floatingNino" placeholder="0" min="0" max="20">
                    <label for="floatingNino">Niños</label>
                </div>
            </div>
            <!-- NUMEROS DE CUARTOS -->
            <div class="col-md">
                <div class="form-floating mb-3">
                    <input type="number" onkeydown="return false" formControlName="NumC" value="1" class="form-control" id="floatingCuarto" placeholder="1" min="1" max="15">
                    <label for="floatingCuarto">Cuartos</label>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col"><button class="btn btn-outline-success" type="submit">Registrarse</button></div>
            <div class="col"><button class="btn btn-outline-dark">Cancelar</button></div>
        </div>
    </form>
</div>
