<div>
    <!-- Se ingresará todo para poner un ngIf y tener mayor control de lo que se va a mostrar -->
</div>
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <div class="container-fluid">
    <!-- LOGO -->
    <img class="logo" src="assets/Imagenes/Logo.png" alt="Concha de mar">
    <button class="navbar-toggler navbar-toggler-right bg-black" type="button" data-bs-toggle="collapse" data-bs-target="#Menu" aria-controls="Menu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="Menu">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" routerLink="/landing">Inicio</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="#row-habitaciones">Habitaciones</a></li>
        <li class="nav-item"><a class="nav-link" href="#row-lugar">Turistico</a></li>
        <li class="nav-item"><a class="nav-link" href="#row-contacto">Contactanos</a></li>
        <li class="nav-item"><a class="nav-link" (click)="checkUsuario()">Mis Reservaciones</a></li>
      </ul>  
    </div>
  </div>
</nav>
